body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(255, 247, 174);
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 700px;
  padding: 2em;
  text-align: center;
  background-color: #fff;
}

.joke-voting {
  display: none;
  margin-bottom: 1em;

  button {
    border: none;
    background-color: transparent;
    font-size: 2em;

    &:hover {
      opacity: 0.6;
    }
  }
}
